body{font-family: 'Poppins', sans-serif; margin: 0;padding-bottom: 3%;}
.back{height: 500px; background-position: center; background-size: cover;
background-repeat: no-repeat;}
.text h1{text-align: center; padding-top: 150px; color: rgb(235, 41, 41);}
.text p{text-align: center; color: rgb(230, 21, 21);}
.text button{font-size: 20px; text-transform: uppercase; margin-left: 50%;}
.media h1{text-align: center;}
.media p{text-align: center;}
.button-text{padding: 100px; 
text-align: center;}
.button-text button{
    font-size: 20px;
    padding: 20px; border: 0;
    
}
.about-logo img{width: 520px;
     height: auto;margin: 0px 10px;
    margin-bottom: 10px; box-shadow: 0px 8px 10px 0px #000;}
.about-text{width: 320px; 
height: auto;
padding: 0px 20px;}
.about-text h2{border-bottom: 2px solid #fff;
margin-bottom: 20px;}
.about-text p{line-height: 22px;}

.row{overflow: auto;}
.col{float: left;}
.about-section{background: #DCE7E5;
padding: 40px 0px;}
.title{width: 180px;
height: auto;
margin: 0 auto;}
.title h2{border-bottom: 2px solid #fff;
text-align: center; margin-bottom: 30px;}
.service{
    width: 420px; height: auto;
    border: 1px solid #fff;
    text-align: center;display:inline-block; margin: 5px; margin-left: 10px;
}
.service h3{margin-bottom: 10px;}
.service p{line-height: 22px; padding: 0px 15px;}
.service-section{background: #B7BBB2;}
.serv-icon{font-size: 40px;
margin-top: 10px;
margin-bottom: 10px;
color: #fff;}
.habu{text-align: center;}
.in{width: 400px;height: 100px;background-color: tomato; margin-left: 500px;}
.fot{width: 100%;height: 100px;background-color: gray; text-align: center;color: #DCE7E5;}
.flex{display: flex;}